.item-container{
    min-height:250px;
    width:150px;
    display:inline-block;
    position:relative;
}
.item-container-img{
    height: 80px;
    width: 60px;    
}
#page-numbers {
    text-align:center;
}

#left-container{
    /*float: left;*/
    background-color: white;    
    display: table-cell;
    width: 19%;
    height: 1500px;
    border: 1px solid black;
}
#right-container{
    /*float: right;*/
    display: table-cell;
    width: 79%;
    height: 1500px;
    background-color: white;
    border: 1px solid black;
}